<div class="container">
    <div>
      <h2>Modifier un Produit :</h2>
    </div>
    <form>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Category </label>
        <select class="form-select" [(ngModel)]="currentProduit.categoryProduit" name="category"
          class="form-control" aria-label="Default select example">
          <option selected>Ordinateur</option>
          <option value="1">Tv</option>
          <option value="2">Frigidaire</option>
          <option value="3">Machine à laver</option>
        </select>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Nom Produit</label>
        <input type="text" [(ngModel)]="currentProduit.nomProduit" name="nomProduit" class="form-control">
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <label>Prix Produit</label>
        <input type="number" [(ngModel)]="currentProduit.prixProduit" name="prixProduit" class="form-control">
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Description</label>
        <textarea type="text" [(ngModel)]="currentProduit.description" name="description"
          class="form-control"></textarea>
      </div>
  
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>URL</label>
        <input type="text" [(ngModel)]="currentProduitUrls[0]"  name="urlProduit" class="form-control">
      </div>
  
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>New Image</label>
        <input type="file" (change)="onImageSelect($event)" accept="image/*" class="form-control">
      </div>
      <div class="mt-2">
        <button type="submit" (click)="updateProduit()" class="btn btn-success">Modifier</button>
      </div>
    </form>
  </div>
  